/* 
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

https://getbootstrap.com/docs/5.1/layout/breakpoints/

*/



/* Global */
.main {
    background-color: #353232;
    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
    height: auto;
}

a {
    /* color: #6b2643; */
    color: white;
}

/* class to visually hide content on screen */
.hide {
    display: none;
}

/* NavBar */
#topBar {
    height: 6rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 3rem;
}

#topBar a:hover {
    color: white;
    border-bottom: 2px solid #dca4b4;
}

#homeNav {
    font-size: 1.8rem;
    font-family: 'Rajdhani', sans-serif;
    color: #dca4b4;
    text-transform: uppercase;
}


#btnShow {
    color: #dca4b4;
    margin-top: .6rem;
    margin-left: .7rem;
}

#logo {
    width: 69px;
    height: 50px;
}

/* Lrg Sidebar */
#sidebarLg {
    width: 25%;
    height: inherit;
    padding-top: .5rem;
    color: #6b2643;
    text-transform: uppercase;
    background-color: green;
    position: absolute;
    top: 0%;
    left: 0%;
}

#sidebarLg a {
    padding: 1.5rem;
    font-size: 1.2rem;
}

#sidebarLg a:hover {
    padding: 1.5rem;
    font-size: 1.2rem;
    color: black;
}

#sidebarLg ul {
    list-style-type: none;
    color: white;
}

#sidebarLg li {
    width: 11rem;
    height: 4.5rem;
    background-color: #6b2643;
    margin-top: .7rem;
    margin-bottom: .7rem;
}

#sidebarLg li:hover {
    width: 11rem;
    height: 4.5rem;
    background-color: black;
    margin-top: .7rem;
    margin-bottom: .7rem;
}

.logoName {
    border: 2px solid #5c5656;
    padding-top: 1rem;
}

.logoNameFirst {
    /* color: white;
    color: #6b2643; */
    color: #5c5656;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
}

.logoNameLast {
    font-family: 'Bebas Neue', cursive;
    /* color: white;
    color: #6b2643; */
    color: #5c5656;
}

/* Sm Sidebar */
#sidebarSm {
    width: 40px;
    height: 100%;
    color: white;
    background-color: #3b3737;
    position: fixed;
    left: 0%;
}

#sidebarSm a {
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
}

#sidebarSm a:hover {
    color: black;
}



/* Home View */
.home {
    width: 100%;
    background-color: #353232;
    background-image: url(/img/cover1.jpg);
    /* background-image: url(/img/cover1.jpg); */
    background-position: top 12% left 100%;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    /* top: 15%;
    left: 80%; */
    /* background-position: top; */
    /* object-fit: cover; */
    height: auto;
}


#homeView {
    margin: 0;
    width: 100%;
    /* background-repeat: no-repeat; */

    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-image: url(/img/beachwood.png);*/
    /* height: 1500px; */
    margin-top: 10rem;

    /* background-attachment: fixed; */


}

.navCustom {
    background-color: #1f1e1e;
    /* background-color: none; */
}

#mainLoad {
    height: 100%;
    width: 100%;
    /* margin-left: 2rem; */
    /* bg-white */
}

/* Index View */
#homePage {
    /* width: 65rem; */
    /* margin-top: 5rem; */
    width: 100%;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* height: 55rem;  */
    /* background-image: url(/img/cover.JPG);
    background-repeat: no-repeat;
    background-position: right; */
    /* background-color: blue; */


}

#homeGraphicDiv {
    /* width: 30%; */
    margin-top: 8rem;
    margin-left: 5rem;
    outline: 8000px solid rgba(0, 0, 0, 0.5) !important;
    outline-offset: -3000px;
}

.homeIcons {
    color: white;
    /* color: green; */
    font-size: .6rem;
    padding: 2rem;
    margin-bottom: 9rem;
}



#homePhoto {
    /* overflow-x: visible; */
    /* margin-right: -10rem; */
    /* filter: opacity(60%); */
    /* background: rgba(0, 0, 0, 0.4); */

}

#indexName {
    /* color: #6b2643; */
    /* color: black; */
    /* font-family: 'Kaushan Script', cursive;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    margin-bottom: 5rem;
    background: linear-gradient(to right, rgba(78, 196, 131, 0.8), rgba(7, 174, 216, 0.8), rgba(168, 46, 152, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.homeGreeting {
    color: white;
    color: #dca4b4;
    /* margin-right: 30rem; */

    padding-top: 7rem;
    /* position: -webkit-sticky;
    position: sticky;
    top: 5rem; */
    /* left: rem; */
    /* position: absolute;
    top: 15%;
    left: 25%; */
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.164), rgba(255, 255, 255, 0.8)); */


}

.homeFocus {
    /* font-family: 'Ultra', serif;
    font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Varela', sans-serif;
    font-size: 3rem;
    color: #dca4b4;
    color: white;
    /* color: white; */
    /* background: linear-gradient(to right, rgba(78, 168, 196, 0.8), rgba(168, 46, 152, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.homeSub {
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Ultra', serif;
    font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Varela', sans-serif;
    font-size: 3rem;
    /* color: white; */
    /* background: linear-gradient(to right, rgba(207, 40, 40, 0.5), rgba(14, 13, 13, 0.4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* color: white; */
}

.homeMiniFocus {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    width: 35%;
}

#starterBtn {
    color: white;
}

/* About View */
.about {
    background-color: rgba(44, 42, 42, 1);
}

#aboutWrap {
    width: 100%;
    height: auto;
    margin-top: -1rem;
    margin-bottom: -1rem;
    background-image: linear-gradient(to right, rgba(44, 42, 42, 1), rgba(14, 13, 13, .4)), url(/img/headshot2_tiny.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, top right;
    color: white;
}

.about_border {
    border: 1.5rem solid white;
}

.about_row1 {
    margin-top: 10rem;
}

#about_head,
#contact_header {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: white;
    border-bottom: 2rem solid #6b2643;
    padding-bottom: 10rem;
}

.vertical_l {
    writing-mode: vertical-lr;
    text-orientation: mixed;

}

.vertical_r {
    writing-mode: vertical-rl;
    text-orientation: mixed;

}


/* Resume View */
.resume {
    width: 100%;
    background-color: black;
    height: auto;

}

.topGrids {
    overflow: hidden;
}

#resumeContent {
    margin-top: 10em;
    margin-left: 1rem;
    height: auto;
}

.resumeNav {
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.15);
    background-color: black;
}

#boxGraphic3 {
    margin-bottom: 2rem;
    margin-right: -50rem;
    overflow: hidden;
}

#boxGraphic2 {
    overflow: hidden;

}

#resumeGrid {
    background-image: linear-gradient(to bottom, black, #313030);
    overflow: hidden;
}

#gridImg {
    margin-bottom: -2rem;
}


#resumeHeader {
    margin-top: 5rem;
}

#resumeTitle {
    margin-top: 5rem;
    margin-bottom: 15rem;
    font-family: 'Varela', sans-serif;
    font-size: 3rem;
    color: white;
}

.profile {
    /* background-color: rgb(61, 59, 59); */
    color: #dca4b4;
    color: rgb(131, 127, 127);
    /* color: black; */
    /* font-family: 'Varela', sans-serif; */
    /* border: 2px solid white; */
}

#resumeSubTitle {
    color: #313030;
    color: white;
    font-family: 'Varela', sans-serif;
}


#leftSide {
    background-color: black;
    color: white;

}

#darkHead {
    background-image: url(/img/dark_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 740px;

}

.firstName {
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.lastName {
    font-family: 'Bebas Neue', cursive;
    color: white;
}


#downloadBtn a {
    text-decoration: none;
    color: white;
    border-radius: 90%;
}

#downloadBtn a:link {
    text-decoration: none;
    color: white;
}

#downloadBtn i {
    color: white;
}



.p_info {
    margin-bottom: -0.2rem;
}

.h_title,
.h_titleSub {
    color: white;
    font-size: 1rem;
}


.h_title2 {
    color: white;
    font-size: 1rem;
    padding: .5rem;
    border-top: 1px solid #dca4b4;
}

.h_body {
    color: #afabab;
    font-size: 1rem;
    margin-bottom: 3rem;
    padding-left: .5rem;
    border-left: .5rem dotted #313030;
    border-left: .5rem dotted #dca4b4;


}

.h2_info {
    color: #3f1627;
    margin-bottom: 1rem;
}

.leftHeaders {
    background-color: #3f1627;

}

#resumeBody {
    background-color: #313030;
}

#rightSkillsSide {
    background-color: black;
}

#rightSkillsSide,
#resumeBody {
    color: #afabab;
    font-size: 1rem;
}

#resumeBody h4,
#resumeBody h5 {
    color: white;
}

#rightSkillsSide h4,
#rightSkillsSide h5 {
    color: white;
    margin-top: 1rem;
    padding: .5rem;

}

.rightHeads {
    border-top: 3px solid white;
}

#certification {
    margin-top: none;
}

#scrum {
    width: 80px;
    height: auto;
}

#experienceHead {
    font-size: 2rem;
    margin-bottom: 3rem;
    background-color: transparent;
    color: white;
}

.mainIcons {
    color: #dca4b4;
    font-size: 2rem;
}

.subIcons {
    color: #dca4b4;
    color: #313030;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.bullets {
    font-size: .3rem;
    margin-right: .4rem;
    color: #dca4b4;
}

.hardSkills {
    margin-top: 2rem;
}



.resumeDate {
    color: #dca4b4;
    font-size: 1rem;


}


#education {
    background-color: #252424;
}

.resumeLine {
    height: 17px;
    overflow: hidden;
    /* padding-top: .5rem; */
}

.educationBullets {
    border-left: .5rem dotted #dca4b4;
}

#keyClasses {
    border-right: 1px solid #524e4e;
}

#resumeLineBottom,
#portfolioLineBottom {
    width: 461px;
    height: 50px;
}

#resumeTopBtn,
#portfolioTopBtn {
    color: #dca4b4;
    width: 20%;
}

/* Portfolio */
.portfolio {
    width: 100%;
    background-image: linear-gradient(to bottom, black, #292424, black);
    color: white;
    height: auto;
}

#folioGraphicDiv,
#contactGraphicDiv,
#resumeGraphicDiv {
    margin-top: -3rem;
    width: auto;
}

.folioIcons {
    font-size: .4rem;
    padding: 2rem;
    color: white;
}



#port_head {
    font-family: 'Varela', sans-serif;
    font-size: 3rem;
    color: white;
}

#portSubHead {
    /* font-family: 'Questrial', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #dca4b4;
}

.gitI {
    height: 70%;
}

#gitBtn a {
    color: white;
    /* border-bottom: 2rem solid #6b2643; */
    padding-bottom: 10rem;
}

#gitBtn i,
.gitI i {
    color: green;

}

.gitI a {
    text-decoration: none;
}

#gitBtn a:hover,
.gitI a:hover {
    color: black;
}

#gitBtn a:link,
.gitI a:link {
    text-decoration: none;
}

#port_header {
    margin-top: 5rem;
    margin-bottom: 10rem;


}

/* #organicDiv,
#fashionDiv {
    background-color: #313030;
} */

#organic,
#fashion,
#property {
    margin-top: 0rem;
    padding-top: 2rem;
}


.projectImg {
    width: 400px;
    height: 400px;
    /* overflow: hidden; */
}

.projectContent {
    border-top: 3px solid white;
}

#django,
#microsoft {
    width: 96px;
}

#react {
    width: 80px;

}

#static {
    width: 40px;
}


.bullet {
    /* color: black; */
    color: #dca4b4;
    /* color: white; */
    font-size: 0.5rem;
    margin-right: 1rem;
}

.projectSub {
    /* color: #dca4b4; */
    /* color: white; */
    color: #afabab;
    /* font-family: 'Montserrat', sans-serif; */
}

.projectSubDate {
    color: #dca4b4;
    font-family: 'Varela', sans-serif;
}

.projectTitle {
    /* font-family: 'Ultra', serif; */
    /* font-family: 'Questrial', sans-serif; */
    /* font-family: 'Secular One'; */
    font-family: 'Varela', sans-serif;
    /* margin-top: 1rem; */
    /* background-color: rgba(92, 95, 95, 0.2); */
    /* background-color: rgb(69, 196, 201); */
    object-fit: cover;
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    /* padding: .8rem; */
}


.card_tab {
    color: black;
    font-size: 4rem;
    object-position: right;
}

.port_cards p {
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

#portfolioGrid2,
#portfolioGrid3,
#portfolioGrid4 {
    overflow: hidden;
}


.companySite {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.7rem;
}


/* Contact Page */
.contact {
    width: 100%;
    /* background-image: url(/img/water4.jpg); */
    /* background-color: #353232; */
    background-color: white;
    /* background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed; */
    /* object-fit: cover; */
    /* border-top: 1.5rem solid white;
    border-left: 1.5rem solid white;
    border-right: 1.5rem solid white; */

    /* height: 900px; */
    height: auto;

}

#contactWrap {
    width: 100%;
    height: auto;
    margin-top: -1rem;
    margin-bottom: -1rem;
    background-image: linear-gradient(to left, rgba(44, 42, 42, 1), rgba(14, 13, 13, .4)), url(/img/contact4.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, top left;
    color: white;
}


#contactContent {
    width: 100%;
    height: auto;
    /* margin-top: -1rem; */
    /* margin-bottom: -1rem; */
    /* background-image: linear-gradient(to top, rgba(44, 42, 42, 1), rgba(14, 13, 13, .4)), url(/img/seaMe.JPG);
    background-repeat: no-repeat, no-repeat;
    background-position: top, center left; */
    /* border-bottom: 1.5rem solid white;
    border-left: 1.5rem solid white;
    border-right: 1.5rem solid white; */
    color: #313030;
    /* color: #dca4b4; */
    /* color: white;
    color: #dedede; */
    /* color: white; */
    /* margin-top: 10rem; */
}

#contactInfo {
    /* background-color: #dca4b4;
    background-color: #313030;
    background-color: white; */
    /* background-color: #b9b7b7; */
    /* background-color: rgba(255, 255, 255, .4); */
    /* width: 620px;
    height: 688px; */
    margin-top: -3rem;
    margin-left: -3rem;
}

.contactGreeting {
    /* font-family: 'Ultra', serif;
    font-size: 3rem; */
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #313030;
    color: #817e7e;
    color: white;
    /* color: white; */
    /* color: white; */
    /* margin-top: 3rem; */
    margin-bottom: .5rem;


}

.contactGreetingSub {
    /* font-family: 'Ultra', serif;
    font-size: 3rem; */
    /* font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #313030;
    color: white; */
    color: #969292;
    /* margin-top: 5rem; */
    /* margin-bottom: 3rem; */


}

.contactMain {
    color: white;
    color: #313030;
    /* margin-top: 2rem; */
    /* background-color: rgba(44, 42, 42, .1);
    background-color: rgb(255, 255, 255, .2) */
}

.contactIcons {
    color: #474646;
    color: #dca4b4;
    /* color: white; */
    font-size: 1.7rem;
}

.contactSubIcons {
    font-size: 1.5rem;
    color: #5f5d5d;
    padding: 3rem 3rem 1rem 3rem;

    /* border-top: 1px solid #474646; */

}

.contactSubIcons:hover {
    color: #dca4b4;
}

.subIcon2 {
    font-size: 1.5rem;
    color: #8b8888;
    /* border-top: 1px solid #474646; */
}

.directContact {
    width: auto;
    font-size: 1.2rem;
    color: rgb(141, 137, 137);

}

#contact_form {
    width: 105%;
}

#extra_name,
#reply_to,
#subject,
#message {
    color: white;
}

#postmail {
    color: rgb(150, 146, 146);
    font-size: .8rem;
}

#postmail a {
    color: rgba(255, 255, 255, 0.4)
}

/* Footer */
.mainFooter {
    color: white;
    padding-top: 2rem;
}

.contactFooter {
    color: #474646;
    padding-top: 2rem;
}

.mainFooter i {
    padding: 1rem;
    font-size: 1.5rem;
}

.contactFooter i {
    color: #474646;
    padding: 1rem;
    font-size: 1.5rem;
}

#footer i:hover {
    color: #dca4b4;
}

#footer a {
    font-family: 'Varela', sans-serif;
    text-decoration: underline;
    padding: 1rem;

}

#footer a:hover {
    color: #dca4b4;

}

.logoName2 {
    width: 105%;
    border-top: 2px solid #5c5656;
    border-bottom: 2px solid #5c5656;
    padding-top: 1rem;
    overflow: hidden;
}

.logoNameFirst2 {
    /* color: white;
    color: #6b2643; */
    margin-left: -3rem;
    color: #5c5656;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
}