/* Global */
#main {
    height: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(/img/pinks/mountains.jpg);
    /* height: 1500px; */
}

a {
    color: #6b2643;
}

/* class to visually hide content on screen */
.hide {
    /* This will not keep the space for the element when hidden */
    display: none;

    /* This will keep space in layout */
    /* visibility: hidden; */
}

/* SideDiv */
#sideBar {
    padding-top: .5rem;
    /* height: 1500px; */
    color: #6b2643;
    text-transform: uppercase;
}

#sideBar a {
    padding: 1.5rem;
    font-size: 1.2rem;
}

#sideBar a:hover {
    padding: 1.5rem;
    font-size: 1.2rem;
    color: white;
}

#sideBar ul {
    list-style-type: none;
    color: white;
}

#sideBar li {
    width: 11rem;
    height: 4.5rem;
    background-color: #6b2643;
    margin-top: .7rem;
    margin-bottom: .7rem;
}

#sideBar li:hover {
    width: 11rem;
    height: 4.5rem;
    background-color: black;
    margin-top: .7rem;
    margin-bottom: .7rem;
}

#sideName {
    border: 2px solid white;
    padding-top: 1rem;
}

#sideNameFirst,
.firstName {
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

#sideNameLast,
.lastName {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

#copyright {
    margin-top: 10rem;
}



/* Home View */
#homeView {
    /* margin: 0;
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-image: url(/img/beachwood.png);*/
    /* height: 1500px; */
    margin-top: 5rem;

}

#mainLoad {
    background-color: white;
    margin-left: 2rem;
}

/* Index View */
#indexName {
    color: #6b2643;
}

#headShot {
    height: 170px;
    width: 145px;
    border-radius: 70%;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

#indexContact h4 {
    font-family: 'Bebas Neue', cursive;
    color: #6b2643;
    /* background-color: #6b2643; */
    border: 2px solid #6b2643;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: .5rem;
}

/* Resume View */
#leftSide {
    background-color: #6b2643;
    color: white;

}

#rightSide {
    color: #6b2643;
    font-size: .8rem;
}

/* Footer */
#fwrapper {
    height: 10rem;
    margin-top: 6rem;
    /* background-image: url(/img/footer.png);
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; */
}

#grid1 {
    margin-top: 2rem;
}

#grid2 {
    color: #6b2643;
    margin-right: 1rem;
}

#grid2 i {
    padding: 1rem;
    font-size: 1.5rem;
}

#grid3 {
    color: #6b2643;
    margin-right: 2.7rem;
}

#grid3 a {
    color: #6b2643;
    font-family: 'Raleway', sans-serif;
    margin: 2rem;

}

#grid4 {
    margin-top: 6rem;
    margin-left: 5rem;
    color: #6b2643;
    font-family: 'Raleway', sans-serif;
}